* {
    margin: 0;
    padding: 0;
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, ), sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #202020;
}

.sidebar {
    background-color: #000000;
    color: #B3B3B3;
    width: 230px;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    border: 0;
    left: 0;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.logo a {
    width: 70%;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icons {
    margin-right: 20px;
}

.navbar li a {
    width: 70%;
    list-style: none;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    margin: 20px auto;
}

.navbar li span {
    margin-left: 20px;
}

.playlistConainer {
    width: 70%;
    margin: 0 auto;
}

.playlistConainer h3 {
    margin-top: 15px;
}

.playlistConainer button {
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
}

.playlistConainer span {
    color: white;
    font-size: 15px;
    margin-left: 20px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 30px;
}

.items {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    text-align: start;
}

.item a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: small;
    line-height: 2.0;
}

.item {
    margin-right: 20px;
}

.cookiebtn {
    width: 100%;
    display: flex;
}

.cookiebtn button {
    background: none;
    padding: 6px 10px;
    color: white;
    border: none;
    outline: .2px solid white;
    border-radius: 20px;
    display: flex;
    margin: 20px 35px;
    margin-bottom: 40px;
}

.cookiebtn span {
    margin-left: 5px;
}

.navbar li a:hover {
    font-weight: 700;
    font-size: large;
}

.playlistConainer button:hover {
    font-weight: 700;
    font-size: large;
}

.item a:hover {
    font-weight: 700;
}

.cookiebtn button:hover {
    border: 1px solid white;
    font-weight: 700;
}

main {
    margin-left: 230px;
    margin-top: 60px;
    background-color: #202020;
    /*727272*/
    height: 200vh;
}

.topheader {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 230px;
    right: 0;
}

.lefttopheader {
    margin-left: 20px;
}

.righttopheader {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.signup button {
    background: none;
    border: none;
    outline: none;
    color: #B3B3B3;
    font-weight: 900;
    margin-right: 20px;
    font-size: large;
}

.login button {
    background: #d9d9d9;
    color: #000000;
    border: none;
    padding: 13px 30px;
    border-radius: 32px;
    font-weight: 900;
    font-size: large;
}

.signup button:hover {
    color: #ffffff;
    font-size: large;
}

.login button:hover {
    background: #ffffff;
    font-size: large;
}

main h2 {
    color: white;
}

.imgContainer {
    position: relative;
}

.button {
    position: absolute;
    top: 118px;
    left: 115px;
}

.imageWrapper {
    display: flex;
}

.button button {
    background: none;
    border: none;
    outline: none;
}

.cards{
    display: flex;
}